@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch+Pop&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
a, u {
    text-decoration: none;
    color: aliceblue;
  }
.container{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.nav-left{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    border-bottom: solid 1px;

}
.main-body{
    height:calc(100vh - 60px);
    width: 100%;
    position: absolute;
    border: solid black 1px;
}
.main{
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    animation-name: move;
    animation-duration: 2s;
}
.main h2{
    width: 80%;
    font-size: 10vh;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Honk', system-ui;
    padding-top: 150px;
    padding-left: 77px;
}
@keyframes move {
    from{
        left: -70%;
    }
    to{
        left: 0;
    }
}
.main p{
    width: 100%;
    font-size: 3vh;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 84px;
    padding-top: 77px;
}
span{
    color: white
}
@media screen and (max-width: 600px) {
    body {
        .main{
            height: 100vh;
            width: 100%;
        }
        .main h2{
            padding-top: 167px;
            padding-left: 19px;
            font-size: 5vh;
            padding-bottom: 1px;
            color: black;
        }
        .main p{
            width: 95%;
            padding-left: 15px;
            font-size: 21px;
        }
      .page2{
          height: 100vh;
        }
        .page2 h2{
            width: 80%;
            font-size: 6vh;
            padding-top: 150px;
        }
    }
  }
